@import "tailwindcss";

body {
    background-image: url('/uploaded-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}